<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Booking Page
    </title>
    <link href="../assets/css/booking-page.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" id="sidebar"></div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" id="navbar"></nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog"
                aria-labelledby="searchModal" aria-hidden="true">
            </div>
            <!-- End Navbar -->
            <div class="content">
                <div class="row">
                    <div class="theatre col-md-8">
                        <div class="cinema-seats left">
                            <div class="cinema-row row-1">
                                <div class="seat" id="1">1</div>
                                <div class="seat" id="2">15</div>
                                <div class="seat" id="3">29</div>
                                <div class="seat" id="4">43</div>
                                <div class="seat" id="5">57</div>
                                <div class="seat" id="6">71</div>
                                <div class="seat" id="7">85</div>
                            </div>

                            <div class="cinema-row row-2">
                                <div class="seat" id="8">2</div>
                                <div class="seat" id="9">16</div>
                                <div class="seat" id="10">30</div>
                                <div class="seat" id="11">44</div>
                                <div class="seat" id="12">58</div>
                                <div class="seat" id="13">72</div>
                                <div class="seat" id="14">86</div>
                            </div>

                            <div class="cinema-row row-3">
                                <div class="seat" id="15">3</div>
                                <div class="seat" id="16">17</div>
                                <div class="seat" id="17">30</div>
                                <div class="seat" id="18">44</div>
                                <div class="seat" id="19">58</div>
                                <div class="seat" id="20">73</div>
                                <div class="seat" id="21">87</div>
                            </div>

                            <div class="cinema-row row-4">
                                <div class="seat" id="22">4</div>
                                <div class="seat" id="23">18</div>
                                <div class="seat" id="24">31</div>
                                <div class="seat" id="25">45</div>
                                <div class="seat" id="26">59</div>
                                <div class="seat" id="27">74</div>
                                <div class="seat" id="28">88</div>
                            </div>

                            <div class="cinema-row row-5">
                                <div class="seat" id="29">5</div>
                                <div class="seat" id="30">19</div>
                                <div class="seat" id="31">33</div>
                                <div class="seat" id="32">46</div>
                                <div class="seat" id="33">60</div>
                                <div class="seat" id="34">75</div>
                                <div class="seat" id="35">89</div>
                            </div>

                            <div class="cinema-row row-6">
                                <div class="seat" id="36">6</div>
                                <div class="seat" id="37">20</div>
                                <div class="seat" id="38">34</div>
                                <div class="seat" id="39">47</div>
                                <div class="seat" id="40">61</div>
                                <div class="seat" id="41">76</div>
                                <div class="seat" id="42">90</div>
                            </div>

                            <div class="cinema-row row-7">
                                <div class="seat" id="43">7</div>
                                <div class="seat" id="44">21</div>
                                <div class="seat" id="45">35</div>
                                <div class="seat" id="46">48</div>
                                <div class="seat" id="47">62</div>
                                <div class="seat" id="48">77</div>
                                <div class="seat" id="49">91</div>
                            </div>
                        </div>


                        <div class="cinema-seats right">
                            <div class="cinema-row row-1">
                                <div class="seat" id="50">8</div>
                                <div class="seat" id="51">22</div>
                                <div class="seat" id="52">36</div>
                                <div class="seat" id="53">49</div>
                                <div class="seat" id="54">63</div>
                                <div class="seat" id="55">78</div>
                                <div class="seat" id="56">92</div>
                            </div>

                            <div class="cinema-row row-2">
                                <div class="seat" id="57">9</div>
                                <div class="seat" id="58">23</div>
                                <div class="seat" id="59">37</div>
                                <div class="seat" id="60">50</div>
                                <div class="seat" id="61">64</div>
                                <div class="seat" id="62">79</div>
                                <div class="seat" id="63">93</div>
                            </div>

                            <div class="cinema-row row-3">
                                <div class="seat" id="64">10</div>
                                <div class="seat" id="65">24</div>
                                <div class="seat" id="66">38</div>
                                <div class="seat" id="67">51</div>
                                <div class="seat" id="68">65</div>
                                <div class="seat" id="69">79</div>
                                <div class="seat" id="70">94</div>
                            </div>

                            <div class="cinema-row row-4">
                                <div class="seat" id="71">11</div>
                                <div class="seat" id="72">25</div>
                                <div class="seat" id="73">39</div>
                                <div class="seat" id="74">52</div>
                                <div class="seat" id="75">66</div>
                                <div class="seat" id="76">80</div>
                                <div class="seat" id="77">95</div>
                            </div>

                            <div class="cinema-row row-5">
                                <div class="seat" id="78">12</div>
                                <div class="seat" id="79">26</div>
                                <div class="seat" id="80">40</div>
                                <div class="seat" id="81">53</div>
                                <div class="seat" id="82">67</div>
                                <div class="seat" id="83">81</div>
                                <div class="seat" id="84">96</div>
                            </div>

                            <div class="cinema-row row-6">
                                <div class="seat" id="85">13</div>
                                <div class="seat" id="86">27</div>
                                <div class="seat" id="87">41</div>
                                <div class="seat" id="88">54</div>
                                <div class="seat" id="89">67</div>
                                <div class="seat" id="90">82</div>
                                <div class="seat" id="91">97</div>
                            </div>

                            <div class="cinema-row row-7">
                                <div class="seat" id="92">14</div>
                                <div class="seat" id="93">28</div>
                                <div class="seat" id="94">42</div>
                                <div class="seat" id="95">55</div>
                                <div class="seat" id="96">68</div>
                                <div class="seat" id="97">83</div>
                                <div class="seat" id="98">98</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card card-user">
                            <div class="card-body">
                                <p class="card-text">
                                </p>
                                <div class="author">
                                    <div class="block block-one"></div>
                                    <div class="block block-two"></div>
                                    <div class="block block-three"></div>
                                    <div class="block block-four"></div>
                                    <p class="description">
                                        Ticket Charge:
                                    </p>
                                </div>
                                <p></p>
                                <div class="card-description">
                                    <div class="form-group" style="display: flex">
                                        <label style="margin-top: 2%;">No of tickets:</label>
                                        <input type="number" name="number-0f-tickets" id="number-0f-tickets" value="1"
                                            class="form-control col-md-3"></input>
                                    </div>
                                    <div id="ticket-chagre-view"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-8 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-danger btn-block"
                                        onclick="cancelSelection()">Cancel</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-info btn-block"
                                        onclick="checkPrice()">Calculate</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-success btn-block"
                                        onclick="bookTickets()">Book Tickets</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer"></footer>
        </div>
    </div>
    <div hidden id="spinner"></div>
    <script defer src="../assets/js/common.js"></script>
    <script defer src="../assets/js/booking-page.js"></script>
    <script src="../assets/js/core/jquery.min.js"></script>
</body>

</html>