<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    DashBoard
  </title>
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar" id="sidebar"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" id="navbar"></nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
        aria-hidden="true">
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row" id="dashboard-section">
        </div>
      </div>
      <footer class="footer"></footer>
    </div>
  </div>
  <div hidden id="spinner"></div>
  <script defer src="../assets/js/common.js"></script>
  <script defer src="../assets/js/dashboard.js"></script>
  <script src="../assets/js/core/jquery.min.js"></script>
</body>

</html>