<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/css/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/toastr.css">
    <title>
        Login
    </title>

</head>

<body>
    <div class="card" style="width: 28%;height: 56%; padding-top: 4%;">
        <div class="card-body">
            <div class="form-group">

            <form id="login-form">
                <div class="typography-line" style="text-align: left">
                    <h1>Login </h1>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" id="email-field" aria-describedby="emailHelp"
                        placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="password-field"
                        placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary" id="login-form-submit">Submit</button>
                <small id="emailHelp" class="form-text text-muted">Don’t have an account? <a class="txt2" href="signup.html">
                        Sign Up
                    </a></small>
            </form>
        </div>
    </div>
    <script defer src="../assets/js/login.js"></script>
    <script defer src="../assets/js/toastr.js"></script>
    <script defer src="../assets/js/common.js"></script>
</body>

</html>